<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="text-center">
        <div class="details">
                    <p class="highscore">High Score: <span id="highscore">{{ highscore }}</span></p>
                    <p class="games-played">Games Played: {{ num_plays }}</p>
        </div>
        <a href="/">
            <img width="230px" src="/static/not-boggle.png">
        </a>
        <a class="btn btn-primary"href="/new">New Game</a>
    </nav>
    <main>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, msg in messages %}
    <p class="{{category}}">{{ msg }}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}


    {% block content %} {% endblock %}
    
    </main>

    <footer> &copy 2021 Not Boggle</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
    <script>
        let game = new BoggleGame(30);
    </script>
</body>